@charset "UTF-8";

.progress-wrapper {
  background: #444444;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.progress-wrapper .progress {
  height: 100%;
  background: #00cc66;
}
